In [1]:
from yahoo_fin.stock_info import get_data

In [6]:
cocoa_weekly = get_data("cc=f", start_date='01/01/2024', end_date='06/09/2024', index_as_date=True, interval='1wk')
cocoa_weekly

               open     high      low    close  adjclose  volume ticker
2024-01-01   4209.0   4287.0   4194.0   4204.0    4204.0   84667   CC=F
2024-01-08   4194.0   4358.0   4034.0   4323.0    4323.0  159349   CC=F
2024-01-15   4290.0   4607.0   4285.0   4583.0    4583.0  162379   CC=F
2024-01-22   4589.0   4840.0   4529.0   4672.0    4672.0  184917   CC=F
2024-01-29   4679.0   5032.0   4632.0   5009.0    5009.0  163327   CC=F
2024-02-05   5035.0   6030.0   5010.0   5888.0    5888.0  189221   CC=F
2024-02-12   5868.0   6039.0   5689.0   5706.0    5706.0   54109   CC=F
2024-02-19   5947.0   6750.0   5689.0   6562.0    6562.0   21018   CC=F
2024-02-26   6765.0   6929.0   6362.0   6826.0    6826.0     381   CC=F
2024-03-04   7057.0   7170.0   6928.0   6997.0    6997.0       6   CC=F
2024-03-11   7329.0   8186.0   7063.0   8018.0    8018.0   75258   CC=F
2024-03-18   8179.0   8960.0   7716.0   8939.0    8939.0  113191   CC=F
2024-03-25   8921.0  10080.0   8889.0   9766.0    9766.0   87205   CC=F
2024-04-01   9720.0  10324.0   9150.0   9795.0    9795.0   86412   CC=F
2024-04-08   9953.0  11039.0   9653.0  10987.0   10987.0   68059   CC=F
2024-04-15  10884.0  12261.0   9988.0  11878.0   11878.0   23700   CC=F
2024-04-22  11967.0  12136.0  10221.0  10729.0   10729.0    5215   CC=F
2024-04-29  10327.0  10327.0   8240.0   8505.0    8505.0      95   CC=F
2024-05-06   8570.0   9874.0   8570.0   9874.0    9874.0       4   CC=F
2024-05-13   8149.0   9066.0   7137.0   7348.0    7348.0   27914   CC=F
2024-05-20   7277.0   8436.0   6767.0   8294.0    8294.0   51775   CC=F
2024-05-27   8200.0   9550.0   7942.0   9331.0    9331.0   47084   CC=F
2024-06-03   9331.0  10098.0   9103.0   9933.0    9933.0   67431   CC=F