In [1]:
from yahoo_fin.stock_info import get_data
import pandas as pd
import schedule
import time
from datetime import datetime

Warning - Certain functionality
             requires requests_html, which is not installed.

             Install using:
             pip install requests_html

             After installation, you may have to restart your Python session.

# Test

In [6]:
cocoa_weekly = get_data("cc=f", start_date='01/01/2024', end_date='06/09/2024', index_as_date=True, interval='1wk')
cocoa_weekly

               open     high      low    close  adjclose  volume ticker
2024-01-01   4209.0   4287.0   4194.0   4204.0    4204.0   84667   CC=F
2024-01-08   4194.0   4358.0   4034.0   4323.0    4323.0  159349   CC=F
2024-01-15   4290.0   4607.0   4285.0   4583.0    4583.0  162379   CC=F
2024-01-22   4589.0   4840.0   4529.0   4672.0    4672.0  184917   CC=F
2024-01-29   4679.0   5032.0   4632.0   5009.0    5009.0  163327   CC=F
2024-02-05   5035.0   6030.0   5010.0   5888.0    5888.0  189221   CC=F
2024-02-12   5868.0   6039.0   5689.0   5706.0    5706.0   54109   CC=F
2024-02-19   5947.0   6750.0   5689.0   6562.0    6562.0   21018   CC=F
2024-02-26   6765.0   6929.0   6362.0   6826.0    6826.0     381   CC=F
2024-03-04   7057.0   7170.0   6928.0   6997.0    6997.0       6   CC=F
2024-03-11   7329.0   8186.0   7063.0   8018.0    8018.0   75258   CC=F
2024-03-18   8179.0   8960.0   7716.0   8939.0    8939.0  113191   CC=F
2024-03-25   8921.0  10080.0   8889.0   9766.0    9766.0   87205   CC=F
2024-04-01   9720.0  10324.0   9150.0   9795.0    9795.0   86412   CC=F
2024-04-08   9953.0  11039.0   9653.0  10987.0   10987.0   68059   CC=F
2024-04-15  10884.0  12261.0   9988.0  11878.0   11878.0   23700   CC=F
2024-04-22  11967.0  12136.0  10221.0  10729.0   10729.0    5215   CC=F
2024-04-29  10327.0  10327.0   8240.0   8505.0    8505.0      95   CC=F
2024-05-06   8570.0   9874.0   8570.0   9874.0    9874.0       4   CC=F
2024-05-13   8149.0   9066.0   7137.0   7348.0    7348.0   27914   CC=F
2024-05-20   7277.0   8436.0   6767.0   8294.0    8294.0   51775   CC=F
2024-05-27   8200.0   9550.0   7942.0   9331.0    9331.0   47084   CC=F
2024-06-03   9331.0  10098.0   9103.0   9933.0    9933.0   67431   CC=F

# Commodities of Interest (Ticker Index)

1. **Corn:** ZC=F
2. **Wheat:** KE=F   
3. **Soybeans:** ZS=F 
4. **Rough Rice:** ZR=F 
5. **Oats:** ZO=F 
6. **Coffee:** KC=F 
7. **Cocoa:** CC=F 
8. **Cotton:** CT=F 
9. **Sugar:** SB=F 
10. **Orange Juice:** OJ=F

# Bulk Data

In [2]:
# List of commodity futures for API call
commodities = ['zc=f', 'ke=f', 'zs=f', 'zr=f', 'zo=f', 'kc=f', 'cc=f', 'ct=f', 'sb=f', 'oj=f']

# Dictionaries to store dataframes
raw_data = {}
historical_data = {}


# Retrieve daily data for commodity futures of interest
for commodity in commodities:
    raw_data[commodity] = get_data(commodity, index_as_date=False)
    historical_data[commodity] = raw_data[commodity][['date', 'open', 'close', 'adjclose', 'ticker']] 


# Add respective 'ticker_index' to each commodity dataframe
ticker_map = {ticker: idx+1 for idx, ticker in enumerate(historical_data.keys())}
for ticker, df in historical_data.items():
    df['ticker_index'] = ticker_map[ticker]
    historical_data[ticker] = df

/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93552/572684581.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map[ticker]

In [4]:
# Sample of collected data
historical_data['zc=f']

           date    open   close  adjclose ticker  ticker_index
0    2000-07-17  182.25  179.25    179.25   ZC=F             1
1    2000-07-18  179.00  180.75    180.75   ZC=F             1
2    2000-07-19  180.00  182.00    182.00   ZC=F             1
3    2000-07-20  181.50  186.00    186.00   ZC=F             1
4    2000-07-21  185.50  187.75    187.75   ZC=F             1
...         ...     ...     ...       ...    ...           ...
6077 2024-06-06  439.25  452.00    452.00   ZC=F             1
6078 2024-06-07  452.00  448.75    448.75   ZC=F             1
6079 2024-06-10  448.75  451.75    451.75   ZC=F             1
6080 2024-06-11     NaN     NaN       NaN   ZC=F             1
6081 2024-06-13  468.50  470.25    470.25   ZC=F             1

[6082 rows x 6 columns]

# Daily Execution (Test)

In [2]:
# Create current date string for API param
now = datetime.now()
date_string = now.strftime("%m/%d/%Y")
date_string

'06/12/2024'

In [3]:
# Single commodity test
cocoa_current_date = get_data("zc=f", start_date=date_string, index_as_date=False)
cocoa_current_date

        date   open    high     low   close  adjclose  volume ticker
0 2024-06-13  468.5  471.25  468.25  470.25    470.25    5053   ZC=F

In [4]:
# List of commodity futures for API call
commodities = ['zc=f', 'ke=f', 'zs=f', 'zr=f', 'zo=f', 'kc=f', 'cc=f', 'ct=f', 'sb=f', 'oj=f']

# Dictionaries to store dataframes
raw_data_current_date = {}
current_date_data = {}


# Retrieve data for commodity futures of interest for current date
for commodity in commodities:
    raw_data_current_date[commodity] = get_data(commodity, start_date=date_string, index_as_date=False)
    current_date_data[commodity] = raw_data_current_date[commodity][['date', 'open', 'close', 'adjclose', 'ticker']] 


# Add respective 'ticker_index' to each commodity dataframe
ticker_map_current_date = {ticker: idx+1 for idx, ticker in enumerate(current_date_data.keys())}
for ticker, df in current_date_data.items():
    df['ticker_index'] = ticker_map_current_date[ticker]
    current_date_data[ticker] = df

/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]
/var/folders/9c/mcccghjd0j523rgfwsn1ldnm0000gn/T/ipykernel_93711/3736633343.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ticker_index'] = ticker_map_current_date[ticker]

In [6]:
current_date_data

{'zc=f':         date   open   close  adjclose ticker  ticker_index
 0 2024-06-13  468.5  470.25    470.25   ZC=F             1,
 'ke=f':         date   open  close  adjclose ticker  ticker_index
 0 2024-06-13  635.0  636.0     636.0   KE=F             2,
 'zs=f':         date     open   close  adjclose ticker  ticker_index
 0 2024-06-13  1147.25  1145.5    1145.5   ZS=F             3,
 'zr=f':         date   open   close  adjclose ticker  ticker_index
 0 2024-06-13  15.33  15.325    15.325   ZR=F             4,
 'zo=f':         date   open  close  adjclose ticker  ticker_index
 0 2024-06-13  349.5  349.0     349.0   ZO=F             5,
 'kc=f':         date        open       close    adjclose ticker  ticker_index
 0 2024-06-12  220.149994  224.199997  224.199997   KC=F             6,
 'cc=f':         date    open   close  adjclose ticker  ticker_index
 0 2024-06-12  9504.0  9903.0    9903.0   CC=F             7,
 'ct=f':         date       open      close   adjclose ticker  ticker_index
 0 2024-06-13  72.599998  72.599998  72.599998   CT=F             8,
 'sb=f':         date   open  close  adjclose ticker  ticker_index
 0 2024-06-12  18.75  19.07     19.07   SB=F             9,
 'oj=f':         date        open       close    adjclose ticker  ticker_index
 0 2024-06-12  408.299988  416.399994  416.399994   OJ=F            10}

# Useful References

### Number of Records per Commodity

In [6]:
for commodity in commodities:
    print(commodity, len(historical_data[commodity]))

zc=f 6082
ke=f 6034
zs=f 6038
zr=f 6222
zo=f 6222
kc=f 6222
cc=f 6222
ct=f 6222
sb=f 6180
oj=f 698

### Start Date of Commodity Ticker

Used to dictate start date for weather API call...

1. **Corn:** July 17, 2000
2. **Wheat:** Sept. 21, 2000   
3. **Soybeans:** Sept. 15, 2000
4. **Rough Rice:** Jan. 3, 2000 
5. **Oats:** Jan. 3, 2000  
6. **Coffee:** Jan. 3, 2000 
7. **Cocoa:** Jan. 3, 2000  
8. **Cotton:** Jan. 3, 2000  
9. **Sugar:** March 1, 2000
10. **Orange Juice:** Sept. 7, 2021